<h1>All posts</h1>

<section id="container">
    <div id="filters">
        <form method="POST" action="/post/new">
            <h3>Add new</h3>
            <div class="form-group">
                <label for="titleInput">Title</label>
                <input type="text" class="form-control form-control-lg" id="titleInput"
                    placeholder="example: 200 riot points" name="title" {{#if post}}value="{{post.title}}" {{/if}}>
            </div>
            <div class="form-group">
                <label for="descriptionInput">Description</label>
                <textarea class="form-control" id="descriptionInput" rows="3"
                    name="description">{{#if post}}{{post.description}}{{/if}}</textarea>
            </div>
            <div class="form-group">
                <label for="currencyInput">Currency</label>
                <input type="text" class="form-control form-control-lg" id="currencyInput" name="currency"
                    {{#if post}}value="{{post.currency}}" {{/if}}>
            </div>
            <div class="form-group">
                <label for="priceInput">Price</label>
                <input class="form-control form-control-lg" type="number" {{#if post}}value="{{post.currency}}" {{/if}}
                    id="priceInput" name="price">
            </div>
            <div class="form-group">
                <label for="platformInput">Game/Platform</label>
                <select class="form-control form-control-lg" id="platformInput" name="platform"
                    {{#if post}}value="{{post.platform}}" {{/if}}>
                    <option>-</option>
                    <option>Counter-Strike: Global Offensive</option>
                    <option>League of Legends</option>
                    <option>World of Warcraft</option>
                    <option>Legends of Runeterra</option>
                    <option>Hearthstone</option>
                    <option>Dota 2</option>
                    <option>Runescape</option>
                    <option>Other</option>
                    <option>Any</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Add</button>

            {{#if error}}
            <p>{{error}}</p>
            {{/if}}

        </form>
    </div>
</section>