<h1 style="padding-top:50px"></h1>
<div id="profileBox">
    {{#if somethingWentWrong}}
    <h1>User does not exist</h1>
    {{else}}
    {{#if user}}
    {{#each user}}
    <h1>{{username}}</h1>

    {{#if ../canEdit}}
    <form method="POST" action="/profile/update/{{id}}" id="updatePost">
        <label for="firstnameInput">Firstname</label>
        <input type="text" class="form-control form-control-lg" id="firstnameInput" name="firstname"
            value="{{firstname}}">
        <label for="lastnameInput">Lastname</label>
        <input type="text" class="form-control form-control-lg" id="lastnameInput" name="lastname" value="{{lastname}}">
        <label for="emailInput">Email</label>
        <input type="text" class="form-control form-control-lg" id="emailInput" name="email" value="{{email}}"><br>
        <button type="submit" class="btn btn-primary" id="updateButton">Update Profile</button>
    </form>
    <form method="POST" action="/profile/delete/{{id}}">
        <button type="submit" class="btn btn-danger">Delete profile</button>
    </form>
    {{else}}
    <p>{{firstname}} {{lastname}}</p>

    <a href="mailto:{{email}}">{{email}}</a>
    <p>Registered: {{createdAt}}</p>

    {{/if}}

    {{/each}}
    {{/if}}
</div>

<div id="usersPostTitle">
    <h4>Posts</h4>
</div>

{{#if posts}}
{{#each posts}}
<div id="usersPost">
    <h5>{{title}}</h5>
    <h6>{{platform}}</h6>
    <p>Posted: {{createdAt}}</p>
    {{#if updatedAt}} <p>Last update: {{updatedAt}}</p>{{/if}}
    <p>Views: {{views}}</p>
    <a href="/post/{{id}}" class="btn btn-primary" id="checkOutPostBtn">Check out</a>
</div>
{{/each}}
{{else}}
<div id="noPosts">
    <p>This user hasn't posted anything yet!</p>
</div>
{{/if}}
{{/if}}