<h1 style="padding-top:100px">Update Post</h1>

<div id="updatePost">

    <form method="POST" action="/post/update/{{post.id}}" id="updatePost">
        <div class="form-group">

            <p>Title</p>

            <input type="text" class="form-control form-control-lg" id="titleInput"
                placeholder="example: 200 riot points" name="title" value="{{post.title}}">
        </div>

        <div class="form-group">

            <p>Description</p>

            <textarea class="form-control" id="descriptionInput" rows="3" name="description"
                style="resize: none;">{{post.content}}</textarea>

        </div>
        <div class="form-group">
            <p>Currency</p>
            <input type="text" class="form-control form-control-lg" id="currencyInput" name="currency"
                value={{post.currency}}>
        </div>
        <div class="form-group">
            <p>Price</p>
            <input class="form-control form-control-lg" type="number" id="priceInput" value={{post.price}} name="price">
        </div>
        <button type="submit" class="btn btn-primary" id="updateButton">Update Post</button>
    </form>

    {{#if error}}
    <div id="errorMessage">
        <p>{{error}}</p>
    </div>
    {{/if}}

</div>